<p>pagina-uno works!</p>
<div class="row">
  <div class="col s12 m6">
    <span class="card-title">Hoja de Vida del Equipo de Cómputo de la Alcaldía de Piedecuesta</span>
        </div>     
           <div class="input-field col s6">
              <input id="Codigo" [(ngModel)]= "Cod_equipo" type="text" class="validate">
              <label for="Cod_equipo"> Número inventario </label>
                </div>
                <div class="input-field col s6">
                  <input id="nom_equipo " [(ngModel)]= "nom_equipo" type="text" class="validate">
                  <label for="nom_equipo">Nombre Equipo</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="fecha_registro" [(ngModel)]= "fecha_registro" type="text" class="validate">
                      <label for="fecha_registro">Nombre Equipo</label>
                        </div>
            <div class="input-field col s6">
              <input id="cedula" [(ngModel)]="cedula_usuario" type="text" class="validate">
              <label for="cedula_usuario">Cedula del Usuario</label>
                </div>
                <div class="input-field col s6">
                  <input id="nom_usuario" [(ngModel)]= "nom_usuario" type="text" class="validate">
                  <label for="nom_usuario"> Nombre Usuario</label> 
                </div>
            <div class="input-field col s6">
              <input id="Dependencia" [(ngModel)]= "Dependencia" type="text" class="validate">
              <label for="Dependencia">Dependencia</label>
            </div>
            <div class="input-field col s6">
              <input id="Id_marca" [(ngModel)]="Id_marca" type="text" class="validate">
              <label for="Id_marca">Cedula del Usuario</label>
                </div>
                <div class="input-field col s6">
                  <input id="nom_marca" [(ngModel)]= "nom_marca" type="text" class="validate">
                  <label for="nom_marca"> Nombre Usuario</label> 
                </div>
            